<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <!-- task.component.html -->
    <div class="container">
      <div class="mt-5" style="background-color: aquamarine;">
        <table class="table container">
          <thead >
            <tr >
              <th>Prority</th>
              <th>Name</th>
              <th>Description</th>
              <th style="color: rgb(79, 214, 79); ">Start time</th>
              <th style="color: red;">End time</th>
              <th >Edit</th>
              <th >Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 10cap;" >{{todoPersonal.srno2}}</td>
              <td style="width: 10cap;">{{todoPersonal.name2}}</td>
              <td style="width: 30cap; height: 10cap;">{{todoPersonal.desc2}}</td>
              <td style="color: rgb(79, 214, 79); width: 20%;" class="starttime">{{todoPersonal.starttime2}}</td>
              <td style="color: red; width: 10%;">{{todoPersonal.endtime2}}</td>
              <td style="width: 10cap;"> <button type="button"
                  class="btn btn-outline-success " (click)="openDialogWithoutRef1()">Edit</button></td>
                  <ng-template #secondDialog1>

                    <mat-dialog-content>
                      <app-edit-personal-task></app-edit-personal-task>
                    </mat-dialog-content>
                    
                  </ng-template>

              <td style="width: 10cap;" class="container-fluid">
                <button class="btn btn-outline-danger "
                  (click)="openDialogWithoutRef()">Delete</button>
                <ng-template #secondDialog>

                  <mat-dialog-content>
                    <p>You really want to delete ?</p>
                  </mat-dialog-content>
                  <mat-dialog-actions align="end">
                    <button matDialogClose type="button"
                      class="btn btn-outline-danger ms-2"
                      (click)="onClickDeletePersonal(todoPersonal)">Yes</button>
                    <button mat-button matDialogClose color="primary"
                      class="ms-2">No</button>
                  </mat-dialog-actions>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>