<div class="container mt-5 mb-5">
    <button class="btn btn-primary ms-2" (click)="openDialogWithoutRef()">Add
        Task</button>
    <ng-template #secondDialog>

        <mat-dialog-content>
            <form action>
                <div class="container">
                    <div class="mb-3 mt-3">
                        <label for="exampleFormControlInput1"
                            class="form-label">Name:</label>
                        <input type="email" [(ngModel)]="name3"
                            class="form-control" name="name3" id="name3"
                            id="exampleFormControlInput1"
                            placeholder="Enter name">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1"
                            class="form-label">Description:</label>
                        <textarea style="width: 30cap;height: 20cap;"
                            class="form-control"
                            id="exampleFormControlTextarea1" id="desc3"
                            name="desc3"
                            rows="3" placeholder="Enter description"
                            [(ngModel)]="desc3"></textarea>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="exampleFormControlInput1"
                            class="form-label">Prority:</label>
                        <input type="email" [(ngModel)]="srno3"
                            class="form-control" name="srno3" id="srno3"
                            id="exampleFormControlInput1"
                            placeholder="Enter Prority">
                    </div>

                    <div class="container text-center mb-3">
                        <a>

                        </a>

                    </div>

                </div>
            </form>

        </mat-dialog-content>
        <mat-dialog-actions matDialogClose align="end">
            <button type="button"
                class="btn btn-sm btn-primary"
                (click)="onSubmit()">Add to task</button>
        </mat-dialog-actions>
    </ng-template>
</div>