
.box {
  background-color: rgba(34, 42, 49, 0.306) !important;
  
}
p {
  font-size: 17px;
  align-items: center;
}
.box a {
  display: inline-block;
  background-color: #fff;
 
  border-radius: 3px;
}
.modal {
  align-items: center;
  display: flex;
  justify-content: center; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.content {
  position: absolute;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.302),inset -20px -20px  60px rgba(255, 255, 255, 0.333);
  background: rgb(253, 253, 255);
  width: 400px;
  height: 140px;
  padding: 1em 2em;
  border-radius: 40px;
  justify-content: center;
  padding-top: 30px;
} 
.modal:target {
  visibility: visible;
  opacity: 1;
}
.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fe0606;
  text-decoration: none;
  font-size: 30px;
}
.strike{
  text-decoration: line-through;
}