

<div>
    <app-addtask (todoadd)="addtodo($event)"></app-addtask>
    <!-- routing path -->
    <div class="container">
        <a routerLink="/first-page" class="next round">&#8249;</a>
    </div>
    <div *ngIf="this.todos.length===0; else elseBlock">
        <a href="#" class="previous round">&#8249;</a>
        <h1 class=" text-center ">
            No achievement task yet.....
        </h1></div>
    <ng-template #elseBlock>
        <!-- heading -->
         
        <h1 class="container-fluid text-center mb-5">
            Total Achivment task for you
        </h1>
        <!-- for showing table in task -->
        <div>
            <ul *ngFor="let todo of todos">
                <app-task [todo]="todo"
                    (tododelete)="deleteTodo($event)"  (todoedit)="edittodo($event)"  
                    ></app-task>

            </ul>
        </div>
        
    </ng-template>
</div>
